In [92]:
import pandas as pd
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [93]:
pd.read_pickle('set_berjalan.pkl').to_csv('set_berjalan.csv',index=False)

In [94]:
df_compre_penumpang_set_berjalan = pd.read_pickle('set_berjalan.pkl')

In [95]:
data_pojk=pd.read_csv('D:/NPP/IFG/data pojk/kategori_tarif_modified.csv')

In [96]:
df_compre_penumpang_set_berjalan.columns[df_compre_penumpang_set_berjalan.columns.duplicated()==True]

Index([], dtype='object')

In [97]:
df_compre_penumpang_set_berjalan.NILAI_PERTANGGUNGAN_bin

75           0-50 million
146          0-50 million
147          0-50 million
177       125-150 million
183        50-125 million
               ...
738996     50-125 million
738997     50-125 million
739019       0-50 million
739020     50-125 million
739021       0-50 million
Name: NILAI_PERTANGGUNGAN_bin, Length: 49428, dtype: object

In [98]:
set_berjalan_motor_TLO = pd.read_pickle('D:/NPP/IFG/Notebook/DEVNEW/motor tlo/drive-download-20230213T211305Z-001/set_berjalan_motor_TLO_2.pkl')

In [99]:
df_compre_penumpang_set_berjalan = df_compre_penumpang_set_berjalan[df_compre_penumpang_set_berjalan.KETERANGAN=='CASCO']

In [100]:
df_compre_penumpang_set_berjalan['ExpectedLoss'] = df_compre_penumpang_set_berjalan.freq_pred*df_compre_penumpang_set_berjalan.sev_pred

In [101]:
set_berjalan_motor_TLO['ExpectedLoss'] = set_berjalan_motor_TLO.freq_pred*set_berjalan_motor_TLO.sev_pred

In [108]:
df_compre_penumpang_set_berjalan.UMUR_KENDARAAN

177       6
183       5
189       5
196       5
197       5
         ..
738840    4
738977    5
738994    6
738997    6
739020    8
Name: UMUR_KENDARAAN, Length: 13717, dtype: Int64

In [109]:
set_berjalan_motor_TLO.NILAI_PERTANGGUNGAN

140        15570000.000000000
144         6418750.000000000
145         9500000.000000000
146         8500000.000000000
147        23412000.000000000
                  ...
4322004    27180000.000000000
4322282     6300000.000000000
4322302    29488000.000000000
4324553    29488000.000000000
4325178    21607750.000000000
Name: NILAI_PERTANGGUNGAN, Length: 382692, dtype: object

In [110]:
df_compre_penumpang_set_berjalan.rename(columns={'Jumlah Kendaraan Bermotor - Jumlah':'KEPADATAN_KENDARAAN'},inplace=True)

In [111]:
set_berjalan_motor_TLO['CLAIM_RATIO_CATEGORY'] = 'TOTAL LOSS'

In [112]:
set_berjalan_motor_TLO.drop('NILAI_PERTANGGUNGAN_UDW',1,inplace=True)

C:\Users\fachr\AppData\Local\Temp\ipykernel_7000\717321825.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  set_berjalan_motor_TLO.drop('NILAI_PERTANGGUNGAN_UDW',1,inplace=True)

KeyError: "['NILAI_PERTANGGUNGAN_UDW'] not found in axis"

In [ ]:
set(df_compre_penumpang_set_berjalan.columns) - set(set_berjalan_motor_TLO.columns)

In [ ]:
set(set_berjalan_motor_TLO.columns) - set(df_compre_penumpang_set_berjalan.columns)

In [ ]:
set_berjalan_motor_TLO

In [ ]:
df

In [48]:
data_pojk

   KATEGORI_TARIF    JENIS_POLIS    WILAYAH  BATAS PERCENTAGE
0      Kategori 1  COMPREHENSIVE  WILAYAH_1  Bawah      3.82%
1      Kategori 1  COMPREHENSIVE  WILAYAH_1   Atas      4.20%
2      Kategori 1  COMPREHENSIVE  WILAYAH_2  Bawah      3.26%
3      Kategori 1  COMPREHENSIVE  WILAYAH_2   Atas      3.59%
4      Kategori 1  COMPREHENSIVE  WILAYAH_3  Bawah      2.53%
..            ...            ...        ...    ...        ...
91     Kategori 8            TLO  WILAYAH_1   Atas      2.11%
92     Kategori 8            TLO  WILAYAH_2  Bawah      1.80%
93     Kategori 8            TLO  WILAYAH_2   Atas      2.16%
94     Kategori 8            TLO  WILAYAH_3  Bawah      0.67%
95     Kategori 8            TLO  WILAYAH_3   Atas      0.80%

[96 rows x 5 columns]

In [113]:
set_berjalan_concat = pd.concat([df_compre_penumpang_set_berjalan,set_berjalan_motor_TLO])

In [114]:
set_berjalan_concat.WILAYAH.unique()

array(['WILAYAH_2', 'WILAYAH_3', 'WILAYAH_1'], dtype=object)

In [58]:
data_pojk.KATEGORI_TARIF = data_pojk.KATEGORI_TARIF.str.upper()
data_pojk.rename(columns={'JENIS_POLIS':'KATEGORI_POLIS'},inplace=True)
data_pojk

   KATEGORI_TARIF KATEGORI_POLIS    WILAYAH  BATAS PERCENTAGE
0      KATEGORI 1  COMPREHENSIVE  WILAYAH_1  Bawah      3.82%
1      KATEGORI 1  COMPREHENSIVE  WILAYAH_1   Atas      4.20%
2      KATEGORI 1  COMPREHENSIVE  WILAYAH_2  Bawah      3.26%
3      KATEGORI 1  COMPREHENSIVE  WILAYAH_2   Atas      3.59%
4      KATEGORI 1  COMPREHENSIVE  WILAYAH_3  Bawah      2.53%
..            ...            ...        ...    ...        ...
91     KATEGORI 8            TLO  WILAYAH_1   Atas      2.11%
92     KATEGORI 8            TLO  WILAYAH_2  Bawah      1.80%
93     KATEGORI 8            TLO  WILAYAH_2   Atas      2.16%
94     KATEGORI 8            TLO  WILAYAH_3  Bawah      0.67%
95     KATEGORI 8            TLO  WILAYAH_3   Atas      0.80%

[96 rows x 5 columns]

In [61]:
pojk_pivoted = data_pojk.pivot_table(index=['KATEGORI_TARIF', 'KATEGORI_POLIS', 'WILAYAH'], columns='BATAS', values='PERCENTAGE',aggfunc=max)
pojk_pivoted

BATAS                                     Atas  Bawah
KATEGORI_TARIF KATEGORI_POLIS WILAYAH
KATEGORI 1     COMPREHENSIVE  WILAYAH_1  4.20%  3.82%
                              WILAYAH_2  3.59%  3.26%
                              WILAYAH_3  2.78%  2.53%
               TLO            WILAYAH_1  0.56%  0.47%
                              WILAYAH_2  0.78%  0.65%
                              WILAYAH_3  0.56%  0.51%
KATEGORI 2     COMPREHENSIVE  WILAYAH_1  2.94%  2.67%
                              WILAYAH_2  2.72%  2.47%
                              WILAYAH_3  2.96%  2.69%
               TLO            WILAYAH_1  0.69%  0.63%
                              WILAYAH_2  0.53%  0.44%
                              WILAYAH_3  0.48%  0.44%
KATEGORI 3     COMPREHENSIVE  WILAYAH_1  2.40%  2.18%
                              WILAYAH_2  2.29%  2.08%
                              WILAYAH_3  1.97%  1.79%
               TLO            WILAYAH_1  0.46%  0.41%
                              WILAYAH_2  0.42%  0.38%
                              WILAYAH_3  0.35%  0.29%
KATEGORI 4     COMPREHENSIVE  WILAYAH_1  1.32%  1.20%
                              WILAYAH_2  1.32%  1.20%
                              WILAYAH_3  1.25%  1.14%
               TLO            WILAYAH_1  0.30%  0.25%
                              WILAYAH_2  0.30%  0.25%
                              WILAYAH_3  0.27%  0.23%
KATEGORI 5     COMPREHENSIVE  WILAYAH_1  1.16%  1.05%
                              WILAYAH_2  1.16%  1.05%
                              WILAYAH_3  1.16%  1.05%
               TLO            WILAYAH_1  0.24%  0.20%
                              WILAYAH_2  0.24%  0.20%
                              WILAYAH_3  0.24%  0.20%
KATEGORI 6     COMPREHENSIVE  WILAYAH_1  2.67%  2.42%
                              WILAYAH_2  2.63%  2.39%
                              WILAYAH_3  2.46%  2.23%
               TLO            WILAYAH_1  1.07%  0.88%
                              WILAYAH_2  2.02%  1.68%
                              WILAYAH_3  0.98%  0.81%
KATEGORI 7     COMPREHENSIVE  WILAYAH_1  1.14%  1.04%
                              WILAYAH_2  1.14%  1.04%
                              WILAYAH_3  0.97%  0.88%
               TLO            WILAYAH_1  0.29%  0.23%
                              WILAYAH_2  0.29%  0.23%
                              WILAYAH_3  0.22%  0.18%
KATEGORI 8     COMPREHENSIVE  WILAYAH_1  3.50%  3.18%
                              WILAYAH_2  3.50%  3.18%
                              WILAYAH_3  3.50%  3.18%
               TLO            WILAYAH_1  2.11%  1.76%
                              WILAYAH_2  2.16%  1.80%
                              WILAYAH_3  0.80%  0.67%

In [56]:
set_berjalan_concat.KATEGORI_POLIS

177        COMPREHENSIVE
183        COMPREHENSIVE
189        COMPREHENSIVE
196        COMPREHENSIVE
197        COMPREHENSIVE
               ...
4322004              TLO
4322282              TLO
4322302              TLO
4324553              TLO
4325178              TLO
Name: KATEGORI_POLIS, Length: 396409, dtype: object

In [69]:
set_berjalan_concat = set_berjalan_concat.merge(data_pojk,how='left')

In [70]:
len(df_compre_penumpang_set_berjalan.columns)

63

In [71]:
len(set_berjalan_motor_TLO.columns)

61

In [115]:
set_berjalan_concat['PurePremium'] = set_berjalan_concat.TOTAL_NET_CLAIM_AMOUNT.astype(float)/set_berjalan_concat.TOTAL_CLAIM

In [116]:
set_berjalan_concat.PurePremium.sample(10)

3358217    NaN
3585911    NaN
3009180    NaN
3321346    NaN
3632640    NaN
2461507    NaN
1965655    NaN
3336527    NaN
3616337    NaN
2146574    NaN
Name: PurePremium, dtype: Float64

In [117]:
df_compre_penumpang_set_berjalan.isna().sum()

TAHUN                      0
KODE_COB                   0
NAMA_COB                   0
NO_POLIS                   0
NO_RANGKA                  0
                          ..
UMUR_KENDARAAN_bin         0
NILAI_PERTANGGUNGAN_bin    0
freq_pred                  0
sev_pred                   0
ExpectedLoss               0
Length: 63, dtype: int64

In [118]:
set_berjalan_concat.columns

Index(['TAHUN', 'KODE_COB', 'NAMA_COB', 'NO_POLIS', 'NO_RANGKA', 'JENIS_POLIS',
       'KATEGORI_POLIS', 'KONDISI_POLIS', 'TIPE_KENDARAAN', 'KOTA', 'WILAYAH',
       'TANGGAL_MULAI', 'TANGGAL_AKHIR', 'UW_YEAR', 'END_YEAR', 'JWP_Y',
       'JWP_D', 'MATA_UANG', 'NILAI_PERTANGGUNGAN', 'NET_PREMI_UDW',
       'KATEGORI_TARIF', 'LOAD_TIME', 'TAHUN_PEMBUATAN', 'MERK', 'KENDARAAN',
       'DESKRIPSI_OBJEK', 'KATEGORI_NASABAH', 'JWO_MULAI', 'JWO_AKHIR',
       'JWO_YEAR', 'UMUR_KENDARAAN', 'EXPOSURE_DAY', 'TANGGAL_MAKS_EXPOSURE',
       'EXPOSURE_YEAR', 'PERIODE_MULAI', 'PERIODE_AKHIR', 'ACTIVE_FLAG',
       'DEPRESIASI_KE', 'KETERANGAN', 'DEPRESIASI', 'HP_DEPRE', 'PREMI_DEPRE',
       'PROVINSI', 'KEPADATAN', 'NILAI_PERTANGGUNGAN_CLAIM',
       'TOTAL_GROSS_CLAIM', 'TOTAL_DEDUCTIBLE', 'DESKRIPSI_OBJEK_CLAIM',
       'TOTAL_NET_CLAIM_AMOUNT', 'TOTAL_CLAIM', 'CLAIM_RATIO_CATEGORY',
       'CLAIM_RATIO', 'CREATED_DATETIME', 'CREATED_BY', 'UPDATED_BY',
       'UPDATED_DATETIME', 'Provinsi', 'KEPADATAN_KENDARAAN',
       'UMUR_KENDARAAN_bin', 'NILAI_PERTANGGUNGAN_bin', 'freq_pred',
       'sev_pred', 'ExpectedLoss', 'PurePremium'],
      dtype='object')

In [119]:
'TAHUN', 'KODE_COB', 'NAMA_COB', 'NO_POLIS', 'NO_RANGKA', 'JENIS_POLIS',
       'KATEGORI_POLIS', 'KONDISI_POLIS', 'TIPE_KENDARAAN', 'KOTA', 'WILAYAH',
       'TANGGAL_MULAI', 'TANGGAL_AKHIR', 'UW_YEAR', 'END_YEAR', 'JWP_Y',
       'JWP_D', 'MATA_UANG', 'NILAI_PERTANGGUNGAN', 'NET_PREMI_UDW',
       'KATEGORI_TARIF', 'LOAD_TIME', 'TAHUN_PEMBUATAN', 'MERK', 'KENDARAAN',
       'DESKRIPSI_OBJEK', 'KATEGORI_NASABAH', 'JWO_MULAI', 'JWO_AKHIR',
       'JWO_YEAR', 'UMUR_KENDARAAN', 'EXPOSURE_DAY', 'TANGGAL_MAKS_EXPOSURE',
       'EXPOSURE_YEAR', 'PERIODE_MULAI', 'PERIODE_AKHIR', 'ACTIVE_FLAG',
       'DEPRESIASI_KE', 'KETERANGAN', 'DEPRESIASI', 'HP_DEPRE', 'PREMI_DEPRE',
       'PROVINSI', 'KEPADATAN', 'NILAI_PERTANGGUNGAN_CLAIM',
       'TOTAL_GROSS_CLAIM', 'TOTAL_DEDUCTIBLE', 'DESKRIPSI_OBJEK_CLAIM', 'CLAIM_RATIO_CATEGORY',
       'CLAIM_RATIO', 'CREATED_DATETIME', 'CREATED_BY', 'UPDATED_BY',
       'UPDATED_DATETIME', 'Provinsi', 'KEPADATAN_KENDARAAN',
       'UMUR_KENDARAAN_bin', 'NILAI_PERTANGGUNGAN_bin'

IndentationError: unexpected indent (259939728.py, line 2)

In [120]:
set_berjalan_concat['sev_ratio'] = set_berjalan_concat['PurePremium']/set_berjalan_concat['sev_pred']

In [121]:
set_berjalan_concat['freq_ratio'] =set_berjalan_concat['TOTAL_CLAIM']/set_berjalan_concat['freq_pred']

In [122]:
set_berjalan_concat['loss_ratio'] = set_berjalan_concat['TOTAL_NET_CLAIM_AMOUNT'].astype(float)/set_berjalan_concat['ExpectedLoss']

In [123]:
set_berjalan_concat['actual_loss_ratio'] = set_berjalan_concat['TOTAL_NET_CLAIM_AMOUNT'].astype(float)/set_berjalan_concat['PREMI_DEPRE'].astype(float)

In [124]:
set_berjalan_concat['predicted_loss_ratio'] = set_berjalan_concat['ExpectedLoss'].astype(float)/set_berjalan_concat['PREMI_DEPRE'].astype(float)

In [125]:
set_berjalan_concat

,TAHUN,KODE_COB,NAMA_COB,NO_POLIS,NO_RANGKA,JENIS_POLIS,KATEGORI_POLIS,KONDISI_POLIS,TIPE_KENDARAAN,KOTA,...,NILAI_PERTANGGUNGAN_bin,freq_pred,sev_pred,ExpectedLoss,PurePremium,sev_ratio,freq_ratio,loss_ratio,actual_loss_ratio,predicted_loss_ratio
177,2022,601,JASINDO OTO PLUS,204.601.200.17.70723,MHKM5EA3JHK069395,COMPREHENSIVE COVER (GABUNGAN),COMPREHENSIVE,None,ANGKUTAN PENUMPANG,JAKARTA PUSAT,...,125-150 million,0.144,11212672.582,1615101.697,NaN,NaN,0.000,0.000,0.000,0.378
183,2018,601,JASINDO OTO PLUS,204.601.200.18.70362,MHKA6GJ3JJJ017948,COMPREHENSIVE COVER (GABUNGAN),COMPREHENSIVE,COMPREHENSIVE,ANGKUTAN PENUMPANG,JAKARTA PUSAT,...,50-125 million,0.116,5641495.395,653697.158,NaN,NaN,0.000,0.000,0.000,0.272
189,2018,601,JASINDO OTO PLUS,204.601.200.18.70459,MHFJW8EM9J2352503,COMPREHENSIVE COVER (GABUNGAN),COMPREHENSIVE,COMPREHENSIVE,ANGKUTAN PENUMPANG,JAKARTA PUSAT,...,200-250 million,0.186,6692790.870,1247765.893,NaN,NaN,0.000,0.000,0.000,0.342
196,2018,601,JASINDO OTO PLUS,204.601.200.18.70802,MHKA6GJ6JJJ098086,COMPREHENSIVE COVER (GABUNGAN),COMPREHENSIVE,COMPREHENSIVE,ANGKUTAN PENUMPANG,JAKARTA PUSAT,...,50-125 million,0.116,5641495.395,653697.158,NaN,NaN,0.000,0.000,0.000,0.259
197,2018,601,JASINDO OTO PLUS,204.601.200.18.70809,MHKM5EA3JJK121740,COMPREHENSIVE COVER (GABUNGAN),COMPREHENSIVE,COMPREHENSIVE,ANGKUTAN PENUMPANG,JAKARTA PUSAT,...,125-150 million,0.146,6262041.883,914710.671,NaN,NaN,0.000,0.000,0.000,0.235
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4322004,2020,605,KENDARAAN BERMOTOR RODA DUA,415.605.110.20.00144,MH1KF211XLK437310,TOTAL LOSS ONLY,TLO,TLO,SEPEDA MOTOR,KUDUS,...,25-30,0.027,19393723.810,522112.509,NaN,NaN,0.000,0.000,0.000,2.867
4322282,2021,605,KENDARAAN BERMOTOR RODA DUA,409.605.240.21.00027,MH331B205CJ008960,TOTAL LOSS ONLY,TLO,None,SEPEDA MOTOR,SLEMAN,...,0-10,0.005,4601772.751,23347.020,NaN,NaN,0.000,0.000,0.000,0.553
4322302,2021,605,KENDARAAN BERMOTOR RODA DUA,415.605.110.21.00167,MH1KF7117MK115111,TOTAL LOSS ONLY,TLO,TLO,SEPEDA MOTOR,REMBANG,...,25-30,0.022,21879291.117,471647.786,NaN,NaN,0.000,0.000,0.000,2.387
4324553,2021,605,KENDARAAN BERMOTOR RODA DUA,415.605.110.21.00159,MH1KF7114MK108942,TOTAL LOSS ONLY,TLO,TLO,SEPEDA MOTOR,DEMAK,...,25-30,0.022,21879291.117,471647.786,NaN,NaN,0.000,0.000,0.000,4.774
4325178,2021,605,KENDARAAN BERMOTOR RODA DUA,415.605.110.21.00074,MH1JM5110MK812707,TOTAL LOSS ONLY,TLO,TLO,SEPEDA MOTOR,JEPARA,...,20-25,0.040,17432227.491,696961.414,NaN,NaN,0.000,0.000,0.000,4.814

In [126]:
set_berjalan_concat_melted = pd.melt(set_berjalan_concat, id_vars=['TAHUN', 'KODE_COB', 'NAMA_COB', 'NO_POLIS', 'NO_RANGKA', 'JENIS_POLIS',
       'KATEGORI_POLIS', 'KONDISI_POLIS', 'TIPE_KENDARAAN', 'KOTA', 'WILAYAH',
       'TANGGAL_MULAI', 'TANGGAL_AKHIR', 'UW_YEAR', 'END_YEAR', 'JWP_Y',
       'JWP_D', 'MATA_UANG', 'NILAI_PERTANGGUNGAN', 'NET_PREMI_UDW',
       'KATEGORI_TARIF', 'LOAD_TIME', 'TAHUN_PEMBUATAN', 'MERK', 'KENDARAAN',
       'DESKRIPSI_OBJEK', 'KATEGORI_NASABAH', 'JWO_MULAI', 'JWO_AKHIR',
       'JWO_YEAR', 'UMUR_KENDARAAN', 'EXPOSURE_DAY', 'TANGGAL_MAKS_EXPOSURE',
       'EXPOSURE_YEAR', 'PERIODE_MULAI', 'PERIODE_AKHIR', 'ACTIVE_FLAG',
       'DEPRESIASI_KE', 'KETERANGAN', 'DEPRESIASI', 'HP_DEPRE', 'PREMI_DEPRE',
       'PROVINSI', 'KEPADATAN', 'NILAI_PERTANGGUNGAN_CLAIM',
       'TOTAL_GROSS_CLAIM', 'TOTAL_DEDUCTIBLE', 'DESKRIPSI_OBJEK_CLAIM', 'CLAIM_RATIO_CATEGORY',
       'CLAIM_RATIO', 'CREATED_DATETIME', 'CREATED_BY', 'UPDATED_BY',
       'UPDATED_DATETIME', 'Provinsi', 'KEPADATAN_KENDARAAN',
       'UMUR_KENDARAAN_bin', 'NILAI_PERTANGGUNGAN_bin'],value_vars=['TOTAL_NET_CLAIM_AMOUNT','TOTAL_CLAIM','PurePremium', 'freq_pred', 'sev_pred','ExpectedLoss','sev_ratio','freq_ratio','loss_ratio','actual_loss_ratio','predicted_loss_ratio'])

In [ ]:
['TOTAL_NET_CLAIM_AMOUNT','TOTAL_CLAIM','PurePremium', 'freq_pred', 'sev_pred','ExpectedLoss','sev_ratio','freq_ratio','loss_ratio','actual_loss_ratio','predicted_loss_ratio'])

In [127]:
def set_map(x):
    if x == 'TOTAL_NET_CLAIM_AMOUNT' or x=='TOTAL_CLAIM' or x=='PurePremium' or x=='actual_loss_ratio':
        return 'ACTUAL'
    elif x=='freq_pred' or x=='sev_pred' or  x=='ExpectedLoss' or x=='predicted_loss_ratio' :
        return 'PREDICTED'
    else:
        return 'RATIO'

In [128]:
def set_map2(x):
    if x == 'TOTAL_NET_CLAIM_AMOUNT' or  x=='ExpectedLoss' or x=='loss_ratio' :
        return 'LOSS'
    elif x=='freq_pred'or x=='TOTAL_CLAIM' or x=='freq_ratio' :
        return 'FREQUENCY'
    elif x=='actual_loss_ratio' or x=='predicted_loss_ratio':
        return 'LOSS RATIO'
    else:
        return 'SEVERITY'

In [129]:
set_berjalan_concat_melted['ACTUAL_PREDICTED_RATIO'] = set_berjalan_concat_melted.variable.apply(set_map)

In [130]:
set_berjalan_concat_melted['ACTUAL_PREDICTED_RATIO'].value_counts()

ACTUAL       1585636
PREDICTED    1585636
RATIO        1189227
Name: ACTUAL_PREDICTED_RATIO, dtype: int64

In [131]:
set_berjalan_concat_melted.variable.value_counts()

TOTAL_NET_CLAIM_AMOUNT    396409
TOTAL_CLAIM               396409
PurePremium               396409
freq_pred                 396409
sev_pred                  396409
ExpectedLoss              396409
sev_ratio                 396409
freq_ratio                396409
loss_ratio                396409
actual_loss_ratio         396409
predicted_loss_ratio      396409
Name: variable, dtype: int64

In [132]:
set_berjalan_concat_melted['SEVERITY_FREQUENCY_LOSS']= set_berjalan_concat_melted.variable.apply(set_map2)

In [133]:
set_berjalan_concat_melted.sample(10)

,TAHUN,KODE_COB,NAMA_COB,NO_POLIS,NO_RANGKA,JENIS_POLIS,KATEGORI_POLIS,KONDISI_POLIS,TIPE_KENDARAAN,KOTA,...,UPDATED_BY,UPDATED_DATETIME,Provinsi,KEPADATAN_KENDARAAN,UMUR_KENDARAAN_bin,NILAI_PERTANGGUNGAN_bin,variable,value,ACTUAL_PREDICTED_RATIO,SEVERITY_FREQUENCY_LOSS
3322847,2022,605,KENDARAAN BERMOTOR RODA DUA,204.605.200.22.70663,MH1JM2120JK029647,TOTAL LOSS ONLY,TLO,None,SEPEDA MOTOR,JAKARTA PUSAT,...,JASINDO,2023-01-25 08:08:22.968091+00:00,NaN,21034054,1-5,10-15,loss_ratio,0.000,RATIO,LOSS
3258439,2022,605,KENDARAAN BERMOTOR RODA DUA,204.605.200.22.70183,MH3SG5620LJ155203,TOTAL LOSS ONLY,TLO,None,SEPEDA MOTOR,JAKARTA PUSAT,...,JASINDO,2023-01-25 08:08:22.968091+00:00,NaN,21034054,1-5,20-25,loss_ratio,0.000,RATIO,LOSS
269808,2022,605,KENDARAAN BERMOTOR RODA DUA,204.605.200.22.70548,MH3SE88D0NJ327445,TOTAL LOSS ONLY,TLO,None,SEPEDA MOTOR,JAKARTA PUSAT,...,JASINDO,2023-01-25 08:08:22.968091+00:00,NaN,21034054,1-5,20-25,TOTAL_NET_CLAIM_AMOUNT,0E-9,ACTUAL,LOSS
3996075,2022,605,KENDARAAN BERMOTOR RODA DUA,204.605.200.22.70647,MH1JFZ218HK033142,TOTAL LOSS ONLY,TLO,None,SEPEDA MOTOR,JAKARTA PUSAT,...,JASINDO,2023-01-25 08:08:22.968091+00:00,NaN,21034054,6-10,10-15,predicted_loss_ratio,0.558,PREDICTED,LOSS RATIO
3157374,2022,605,KENDARAAN BERMOTOR RODA DUA,204.605.200.22.70132,MH3SE8860HJ186251,TOTAL LOSS ONLY,TLO,None,SEPEDA MOTOR,JAKARTA PUSAT,...,JASINDO,2023-01-25 08:08:22.968091+00:00,NaN,21034054,6-10,10-15,freq_ratio,0.000,RATIO,FREQUENCY
3091289,2022,605,KENDARAAN BERMOTOR RODA DUA,204.605.200.22.70663,MH1JM4112LK648675,TOTAL LOSS ONLY,TLO,None,SEPEDA MOTOR,JAKARTA PUSAT,...,JASINDO,2023-01-25 08:08:22.968091+00:00,NaN,21034054,1-5,15-20,freq_ratio,0.000,RATIO,FREQUENCY
2043675,2022,605,KENDARAAN BERMOTOR RODA DUA,204.605.200.22.70305,MH1JF5132CK390823,TOTAL LOSS ONLY,TLO,None,SEPEDA MOTOR,JAKARTA PUSAT,...,JASINDO,2023-01-25 08:08:22.968091+00:00,NaN,21034054,11+,0-10,ExpectedLoss,7786.801,PREDICTED,LOSS
2785977,2018,601,JASINDO OTO PLUS,510.601.250.18.00217,MHKM5EA3JJK097310,COMPREHENSIVE COVER (GABUNGAN),COMPREHENSIVE,COMPREHENSIVE,ANGKUTAN PENUMPANG,PALU,...,JASINDO,2023-01-25 08:09:23.860799+00:00,SULAWESI TENGAH,1228563,1-5,150-200 million,freq_ratio,0.000,RATIO,FREQUENCY
2711248,2022,605,KENDARAAN BERMOTOR RODA DUA,204.605.200.22.70547,MH1KC41190K15961,TOTAL LOSS ONLY,TLO,None,SEPEDA MOTOR,JAKARTA PUSAT,...,JASINDO,2023-01-25 08:08:22.968091+00:00,NaN,21034054,6-10,10-15,sev_ratio,NaN,RATIO,SEVERITY
3517422,2022,605,KENDARAAN BERMOTOR RODA DUA,204.605.200.22.70572,MH1JM8119MK727642,TOTAL LOSS ONLY,TLO,None,SEPEDA MOTOR,JAKARTA PUSAT,...,JASINDO,2023-01-25 08:08:22.968091+00:00,NaN,21034054,1-5,15-20,loss_ratio,0.000,RATIO,LOSS

In [137]:
set_berjalan_concat_melted

,TAHUN,KODE_COB,NAMA_COB,NO_POLIS,NO_RANGKA,JENIS_POLIS,KATEGORI_POLIS,KONDISI_POLIS,TIPE_KENDARAAN,KOTA,...,UPDATED_BY,UPDATED_DATETIME,Provinsi,KEPADATAN_KENDARAAN,UMUR_KENDARAAN_bin,NILAI_PERTANGGUNGAN_bin,variable,value,ACTUAL_PREDICTED_RATIO,SEVERITY_FREQUENCY_LOSS
0,2022,601,JASINDO OTO PLUS,204.601.200.17.70723,MHKM5EA3JHK069395,COMPREHENSIVE COVER (GABUNGAN),COMPREHENSIVE,None,ANGKUTAN PENUMPANG,JAKARTA PUSAT,...,JASINDO,2023-01-25 08:09:23.860799+00:00,DKI JAKARTA,21034054,6-10,125-150 million,TOTAL_NET_CLAIM_AMOUNT,0E-9,ACTUAL,LOSS
1,2018,601,JASINDO OTO PLUS,204.601.200.18.70362,MHKA6GJ3JJJ017948,COMPREHENSIVE COVER (GABUNGAN),COMPREHENSIVE,COMPREHENSIVE,ANGKUTAN PENUMPANG,JAKARTA PUSAT,...,JASINDO,2023-01-25 08:09:23.860799+00:00,DKI JAKARTA,21034054,1-5,50-125 million,TOTAL_NET_CLAIM_AMOUNT,0E-9,ACTUAL,LOSS
2,2018,601,JASINDO OTO PLUS,204.601.200.18.70459,MHFJW8EM9J2352503,COMPREHENSIVE COVER (GABUNGAN),COMPREHENSIVE,COMPREHENSIVE,ANGKUTAN PENUMPANG,JAKARTA PUSAT,...,JASINDO,2023-01-25 08:09:23.860799+00:00,DKI JAKARTA,21034054,1-5,200-250 million,TOTAL_NET_CLAIM_AMOUNT,0E-9,ACTUAL,LOSS
3,2018,601,JASINDO OTO PLUS,204.601.200.18.70802,MHKA6GJ6JJJ098086,COMPREHENSIVE COVER (GABUNGAN),COMPREHENSIVE,COMPREHENSIVE,ANGKUTAN PENUMPANG,JAKARTA PUSAT,...,JASINDO,2023-01-25 08:09:23.860799+00:00,DKI JAKARTA,21034054,1-5,50-125 million,TOTAL_NET_CLAIM_AMOUNT,0E-9,ACTUAL,LOSS
4,2018,601,JASINDO OTO PLUS,204.601.200.18.70809,MHKM5EA3JJK121740,COMPREHENSIVE COVER (GABUNGAN),COMPREHENSIVE,COMPREHENSIVE,ANGKUTAN PENUMPANG,JAKARTA PUSAT,...,JASINDO,2023-01-25 08:09:23.860799+00:00,DKI JAKARTA,21034054,1-5,125-150 million,TOTAL_NET_CLAIM_AMOUNT,0E-9,ACTUAL,LOSS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4360494,2020,605,KENDARAAN BERMOTOR RODA DUA,415.605.110.20.00144,MH1KF211XLK437310,TOTAL LOSS ONLY,TLO,TLO,SEPEDA MOTOR,KUDUS,...,JASINDO,2023-01-25 08:08:22.968091+00:00,NaN,18811820,1-5,25-30,predicted_loss_ratio,2.867,PREDICTED,LOSS RATIO
4360495,2021,605,KENDARAAN BERMOTOR RODA DUA,409.605.240.21.00027,MH331B205CJ008960,TOTAL LOSS ONLY,TLO,None,SEPEDA MOTOR,SLEMAN,...,JASINDO,2023-01-25 08:08:22.968091+00:00,NaN,3024065,11+,0-10,predicted_loss_ratio,0.553,PREDICTED,LOSS RATIO
4360496,2021,605,KENDARAAN BERMOTOR RODA DUA,415.605.110.21.00167,MH1KF7117MK115111,TOTAL LOSS ONLY,TLO,TLO,SEPEDA MOTOR,REMBANG,...,JASINDO,2023-01-25 08:08:22.968091+00:00,NaN,18811820,1-5,25-30,predicted_loss_ratio,2.387,PREDICTED,LOSS RATIO
4360497,2021,605,KENDARAAN BERMOTOR RODA DUA,415.605.110.21.00159,MH1KF7114MK108942,TOTAL LOSS ONLY,TLO,TLO,SEPEDA MOTOR,DEMAK,...,JASINDO,2023-01-25 08:08:22.968091+00:00,NaN,18811820,1-5,25-30,predicted_loss_ratio,4.774,PREDICTED,LOSS RATIO
4360498,2021,605,KENDARAAN BERMOTOR RODA DUA,415.605.110.21.00074,MH1JM5110MK812707,TOTAL LOSS ONLY,TLO,TLO,SEPEDA MOTOR,JEPARA,...,JASINDO,2023-01-25 08:08:22.968091+00:00,NaN,18811820,1-5,20-25,predicted_loss_ratio,4.814,PREDICTED,LOSS RATIO

In [134]:
set_berjalan_concat_melted.to_csv('set_berjalan_unp.csv',index=False)

In [135]:
pd.read_pickle('D:/NPP/IFG/Notebook/DEVNEW/motor tlo/set_berjalan_motor_TLO.pkl')

,NILAI_PERTANGGUNGAN_bin,WILAYAH,UMUR_KENDARAAN_bin,EXPOSURE_YEAR,TOTAL_NET_CLAIM_AMOUNT,TOTAL_CLAIM,KEPADATAN,KATEGORI_NASABAH,DEPRESIASI_KE,PROVINSI,freq_pred,sev_pred
140,15-20,WILAYAH_2,1-5,0.960,0E-9,0,15978,1,1,DKI JAKARTA,0.007,14962884.484
144,0-10,WILAYAH_2,11+,0.960,0E-9,0,15978,1,1,DKI JAKARTA,0.001,4644766.177
145,0-10,WILAYAH_2,6-10,0.950,0E-9,0,15978,1,1,DKI JAKARTA,0.003,5600449.890
146,0-10,WILAYAH_2,1-5,0.860,0E-9,0,15978,1,1,DKI JAKARTA,0.005,6611527.430
147,20-25,WILAYAH_2,1-5,0.920,0E-9,0,15978,1,1,DKI JAKARTA,0.012,19035147.623
...,...,...,...,...,...,...,...,...,...,...,...,...
5322004,25-30,WILAYAH_3,1-5,0.220,0E-9,0,1120,1,3,JAWA TENGAH,0.033,19401795.345
5322282,0-10,WILAYAH_3,11+,0.670,0E-9,0,1185,1,2,DI YOGYAKARTA,0.007,4260821.750
5322302,25-30,WILAYAH_3,1-5,0.330,0E-9,0,1120,1,2,JAWA TENGAH,0.027,21912892.382
5324553,25-30,WILAYAH_3,1-5,0.360,0E-9,0,1120,1,2,JAWA TENGAH,0.027,21912892.382
5325178,20-25,WILAYAH_3,1-5,0.740,0E-9,0,1120,1,2,JAWA TENGAH,0.065,17465769.958

In [136]:
data_pojk.to_csv('D:/NPP/IFG/data pojk/kategori_tarif_modified_berjalan.csv')